
#js-load-more {
    display: block;
    margin: 1rem auto;
}

.thead-custom {
    background: #F9F9FA;
    color: #CED0DA;
    font-size: .87rem;
}

.table thead th {
    border: none;
}

.detail-wrap {
    position: sticky;
    top: 150px;
    background-color: #F9F9FA;
    padding: 1rem;
}

#js-lead-details p {
    color: #6C7191;
}