<html>
<head>
    <title>Bark.com - a revolutionary way to hire local services</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/build/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/other.css">
</head>
<body>

<nav class="navbar sticky-top navbar-expand bark-header  body-min-width header-shadow background-color-white py-0" id="bark-header">

    <div class="container">
        <div>
            <a class="navbar-brand my-3" href="/">
                <img class="img-fluid" src="https://d18jakcjgoan9.cloudfront.net/s/img/images/barklogo-dark.png!d=KY4fXZ" width="106" height="32" title="Bark Logo" alt="Bark Logo">
            </a>
            <a class="px-3" href="/">Customers</a>
            <span class="px-3" href="/professionals.html">Professionals</span>
        </div>

    </div>
</nav>

<div class="container">
    <section id="page">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mt-2">Find the right customers for your business</h1>
                        <h4 class="text-light-grey mb-4">Every six seconds a customer searches for a service on Bark</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <form class="js-submit-lead form-row">
                            <div class="form-group col-md-auto">
                                <label for="inputService">What service do you provide?</label>
                                <select class="form-control js-autocomplete-services" id="inputService" name="service_id"
                                        placeholder="e.g. Personal Trainers"
                                        aria-describedby="serviceDescription"
                                        autocomplete="off"></select>
                            </div>
                            <div class="form-group col-md-auto">
                                <label for="inputLocation">Where do you provide it?</label>
                                <select class="form-control js-autocomplete-location" id="inputLocation" name="location_id"
                                        placeholder="e.g. London"
                                        aria-describedby="locationDescription"
                                        autocomplete="off"></select>
                            </div>
                            <div class="form-group col-auto">
                                <label class="d-none d-md-block">&nbsp;</label>
                                <button class="btn btn-primary btn-lg" id="js-search-button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div id="js-lead-details-container" class="col-lg-6 col-md-4 order-md-2 d-none">
                        <div class="detail-wrap">
                            <h2>Lead Details</h2>
                            <div id="js-lead-details"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 order-md-1">
                        <h2>Your Leads</h2>
                        <table class="table">
                            <thead class="thead-custom">
                                <tr>
                                    <th>Name</th>
                                    <th>Looking For</th>
                                    <th>Location</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="js-lead-list"></tbody>
                        </table>
                        <button class="btn btn-primary" id="js-load-more" data-next-link="">Load More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script id="handlebars-template-list-item" type="text/x-handlebars-template">
    <tr class="js-list-item" data-lead-id="{{id}}">
        <td>{{ name}}</td>
        <td>{{ service.name }}</td>
        <td>{{ location.name }}</td>
        <td><span class="btn btn-sm btn-link"><i class="fas fa-chevron-right"></i></span></td>
    </tr>
</script>

<script id="handlebars-template-list-detail" type="text/x-handlebars-template">
        <h3>
            {{name}} is looking for {{service.name}} in {{location.name}}
        </h3>
        <p>Call: {{phone}}</p>
        <p>Email: {{email}}</p>
        <p>
            {{more_info}}
        </p>
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.5/dist/latest/bootstrap-autocomplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<script type="application/javascript" src="assets/js/professionals.js"></script>

</body>
</html>